<%- model_class = BusinessStrategy -%>
<div class="page-header">
  <h1><%=t '.title', :default => BusinessStrategy %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th>ID</th>
      <th><%= model_class.human_attribute_name(:vision) %></th>
      <th><%= model_class.human_attribute_name(:principles) %></th>
      <th><%= model_class.human_attribute_name(:business_model) %></th>
      <th><%= model_class.human_attribute_name(:form_factor) %></th>
      <th><%= model_class.human_attribute_name(:pricing) %></th>
      <th><%= model_class.human_attribute_name(:sales) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @business_strategies.each do |business_strategy| %>
      <tr>
        <td><%= business_strategy.id %></td>
        <td><%= business_strategy.vision %></td>
        <td><%= business_strategy.principles %></td>
        <td><%= business_strategy.business_model %></td>
        <td><%= business_strategy.form_factor %></td>
        <td><%= business_strategy.pricing %></td>
        <td><%= business_strategy.sales %></td>
        <td><%=l business_strategy.created_at, format: :long %></td>
        <td>
          <%= link_to business_strategy_path(business_strategy), :class => 'btn btn-xs', :title => "#{ t('.show', :default => t('helpers.links.show')) }" do %>
            <%= glyph 'info-sign' %>
            <%= glyph 'pencil' %>
          <%- end -%>
          <%= link_to business_strategy_path(business_strategy), :method => :delete, :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-xs', :title => "#{ t('.destroy', :default => t('helpers.links.destroy')) }" do %>
            <%= glyph 'remove' %>
          <%- end -%>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_business_strategy_path,
            :class => 'btn btn-primary' %>
