<p id="notice"><%= notice %></p>

<p>
  <strong>Vision:</strong>
  <%= @business_strategy.vision %>
</p>

<p>
  <strong>Principles:</strong>
  <%= @business_strategy.principles %>
</p>

<p>
  <strong>Business model:</strong>
  <%= @business_strategy.business_model %>
</p>

<p>
  <strong>Form factor:</strong>
  <%= @business_strategy.form_factor %>
</p>

<p>
  <strong>Pricing:</strong>
  <%= @business_strategy.pricing %>
</p>

<p>
  <strong>Sales:</strong>
  <%= @business_strategy.sales %>
</p>

<p>
  <strong>User:</strong>
  <%= @business_strategy.user %>
</p>

<%= link_to 'Edit', edit_business_strategy_path(@business_strategy) %> |
<%= link_to 'Back', business_strategies_path %>
