<p id="notice"><%= notice %></p>

<p>
  <strong>Summary:</strong>
  <%= @milestone.summary %>
</p>

<p>
  <strong>Description:</strong>
  <%= @milestone.description %>
</p>

<p>
  <strong>Title:</strong>
  <%= @milestone.title %>
</p>

<p>
  <strong>Gtm strategy:</strong>
  <%= @milestone.gtm_strategy %>
</p>

<%= link_to 'Edit', edit_milestone_path(@milestone) %> |
<%= link_to 'Back', milestones_path %>
