<h1>Listing market_segmentations</h1>

<table>
  <thead>
    <tr>
      <th>Gtm strategy</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @market_segmentations.each do |market_segmentation| %>
      <tr>
        <td><%= market_segmentation.gtm_strategy %></td>
        <td><%= link_to 'Show', market_segmentation %></td>
        <td><%= link_to 'Edit', edit_market_segmentation_path(market_segmentation) %></td>
        <td><%= link_to 'Destroy', market_segmentation, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Market segmentation', new_market_segmentation_path %>
