<%= form_for @acquisition_track, :html => { :class => 'form-horizontal form-model' } do |f| %>
  <div class="form-group">
    <%= f.label :user, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_field :user, :class => 'text-field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :customer, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_field :customer, :class => 'text-field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :user_activity, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_field :user_activity, :class => 'text-field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :customer_activity, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_field :customer_activity, :class => 'text-field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :plan_title, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_field :plan_title, :class => 'text-field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :date_scheduled, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.datetime_select :date_scheduled, :class => 'text-field form-control' %>
    </div>
  </div>

  <div class="form-group">
    <div class='col-md-offset-2 col-md-10'>
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                  acquisition_tracks_path, :class => 'btn btn-default' %>
    </div>
  </div>
<% end %>
